.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cccccc;
    text-align: center;
    z-index: 1;
}

.login-modal form {
    display: flex;
    justify-content: center;
}

.login-modal input {
    
}